[core]
	editor = /opt/homebrew/bin/nvim
	excludeFiles = ~/.config/git/.gitignore
	excludesFile = ~/.gitignore_global
[user]
	name = Fabien Le Frapper
	email = contact@fabienlefrapper.me
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = current
[init]
	defaultBranch = main
[safe]
	directory = /Users/fabienlefrapper/letabli/terredeliens
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
