[core]
	editor = /usr/bin/vim
	excludeFiles = ~/.config/git/.gitignore
	excludesfile = /home/fabienheureux/.gitignore_global
[user]
	name = Fabien Le Frapper
	email = contact@fabienlefrapper.me
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = current
[init]
	defaultBranch = main
