!-----------------------------------------------------------------------
!                         Xft settings
!-----------------------------------------------------------------------
Xft.dpi:                166
Xft.autohint:           false
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft:hintstyle:          hintslight
Xft.lcdfilter: 					lcddefault
